.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: calc(10px + 2vmin);
    cursor: pointer;
    border: none;
    background-color: white;
    color: #282c34;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

    button:hover {
        background-color: #ddd;
    }

input[type="text"] {
    margin: 20px;
    padding: 10px;
    font-size: calc(10px + 2vmin);
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.1);
}

.media-key-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    .media-key-display input {
        margin: 0 10px 0 0;
        padding: 10px;
        font-size: calc(10px + 2vmin);
        color: #282c34;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: none;
    }

/* Style adjustments to create space between elements */
.App-header > button, .App-header > input, .App-header > div {
    margin-bottom: 20px; /* Adds space below each element */
}

    /* Adjust this to increase/decrease space between upload and download sections */
    .App-header > div.space {
        margin: 40px 0;
    }
